services:
  mongo:
    image: mongo:6.0
    container_name: urlshortener-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - url-shortener-net

  redis:
    image: redis:alpine
    container_name: redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    networks:
      - url-shortener-net

networks:
  url-shortener-net:
    driver: bridge

volumes:
  mongo-data:
